<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/ico"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title style="color: #ffffff">CronDeamon</title>
    <script src="/static/js/jquery-2.1.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap-datetimepicker.js"></script>
    <script src="/static/bootstrap-datetimepicker.zh-CN.js"></script>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style_dan.css" rel="stylesheet">
    <link href="/static/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/static/jquery.multiselect.css" rel="stylesheet">
    {% block style %}
    {% endblock %}
</head>
<body data-spy="scroll" data-target="#myScrollspy" >

<div class="navbar navbar-inverse navbar-fixed-top gct" >
    <div class="container ">
        <ul class="nav navbar-nav gct">
            <li style="padding-right: 50px;color: #ffffff"> <a href="/" style="color: #ffffff"><b style="color: #fffff0">CronDeamon</b></a></li>

            <li class="dropdown gct" >
                <a href="/cron/manage" >计划任务</a>
            </li>
            <li class="dropdown gct" >
                <a href="/task/manage" >后台任务</a>
            </li>
            {% if request.user.is_superuser%}
            <li class="dropdown gct">
                <a href="/user_manager/" class="dropdown-toggle" data-toggle="dropdown">用户管理<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/user_manager/user_add">添加用户</a></li>
                    <li><a href="/user_manager/user_list">用户列表</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
        <div >
            <p class="navbar-text navbar-right">欢迎：[<b style="color: #ffffff">{{ user.username }}</b>] / <a href="/changepwd/" class="navbar-link">修改密码</a>
                / <a href="/logout/" class="navbar-link">注销</a>
            </p>
        </div>

    </div>
</div>
<div >
{% block content %}
{% endblock %}
</div>
</body>
</html>

