{% extends "base.html" %}
{% block style %}
        <style>
        html,body{height: 100%;}
        body{background: #f7f7f7;}
        .main-container{padding-top: 60px;font-family: "microsoft yahei",arial, sans serif;background: #fff;min-height: 100%;box-sizing: border-box;}

        .btn-primary{width: 120px;}
        .jqgfirstrow td{padding: 0 !important;}
        .ui-jqgrid-resize{display: none;}
        .ui-jqgrid-htable th{border: 1px solid #ddd;background: #f9f9f9;padding: 5px;border-bottom: 0;}
        .form-inline{padding-bottom: 6px;}
        .form-inline .form-group .control-label{display: inline-block;width: 90px;}
        .modal-body{padding: 10px 70px;}

        [class*=icon-] {display: inline-block;background: url(http://cn-style.gcimg.net/i/201505/3uHspSDMoV.png) no-repeat 0 0;}
        .ui-pg-table {line-height: 1}
        .ui-paging-info {text-align: left!important}
        .ui-icon-seek-next,.ui-icon-seek-prev {height: 26px;width: 26px;border: 1px solid #dfe5e7}
        .ui-state-disabled .ui-icon-seek-prev {background-position: -41px -124px}
        .ui-state-disabled .ui-icon-seek-next {background-position: -41px -154px}
        .ui-icon-seek-prev {background-position: -1px -124px}
        .ui-icon-seek-next {background-position: -1px -154px}
        .ui-pg-input {text-align: center;width: 40px}
        .hd{padding: 6px 0 6px 10px;border-left: 2px solid #337ab7;margin-bottom: 20px;}
    </style>
{% endblock %}